<div class="app-header">
    <nav class="navbar navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand app-title" href="#">
                <img src="/views/images/logoESCOMBlanco.svg" alt="logoESCOMBlanco" width="50" height="50"
                    class="d-inline-block align-top">
                Sistema de Nuevo Ingreso
            </a>
            <form class="d-flex">
                <a href="">
                    <img src="/views/images/log-out.svg" alt="LogOut" width="50" height="50"
                        class="d-inline-block align-top">
                </a>
            </form>
        </div>
    </nav>
</div>