<form id="updateScheduleForm" action="" method="post" class="w-90 form3 needs-validation">
    <fieldset class="border p-2">
        <legend class="w-auto">Horarios de examen</legend>
        <div class="mx-2 mb-2 row">
            <label for="txtIdHor" class="col-sm-4 col-form-label">ID Horario:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="txstIdHor" name="idHorario" maxlength="5">
            </div>
        </div>
        <div class="mt-2 mx-2 mb-2 row justify-content-center">
            <button id="clrBusSchUp" type="button" class="btn btn-outline-secondary btn-sm col-4">Limpiar</button>
            <button id="btnBusSchUp" type="button" class="btn btn-outline-primary btn-sm col-4">Buscar</button>
        </div>
        <div id="datosSchUp" class="hide">
            <div class="mx-2 mb-2 row">
                <label for="calHor" class="col-sm-4 col-form-label"><strong>Horario</strong></label>
                <div class="col-sm-8">
                    <input type="time" class="form-control" id="calHor" name="horario">
                </div>
            </div>
        </div>
    </fieldset>
</form>

<script type="text/javascript">
    $("#btnBusSchUp").click(() =>{
        if($("#updateScheduleForm").valid()){
            $("#datosSchUp").removeClass("hide")
        }
    })

    $("#clrBusSchUp").click(() =>{
        $("#updateScheduleForm").trigger("reset")
        $("#datosSchUp").addClass("hide")
    })

    $("#updateScheduleForm").validate({
        rules: {
            idHorario: {
                required: true,
                pattern: /[0-9]/,
                minlength: 5,
                maxlength: 5
            }
        },
        messages: {
            idHorario: {
                required: "Introduce el ID del horario",
                pattern: "Introduce un ID de horario valido",
                minlength: "El ID del horario debe ser de 5 digitos",
                maxlength: "El ID del horario debe ser de 5 digitos"
            }
        }
    })
</script>