<form id="updateStudentForm" action="" method="post" class="w-90 form3 needs-validation">
    <fieldset class="border p-2">
        <legend class="w-auto">Estudiantes</legend>
        <div class="mx-2 mb-2 row">
            <label for="txtBoleta" class="col-sm-4 col-form-label">Boleta:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="txtBoleta" name="boleta" maxlength="10">
            </div>
        </div>
        <div class="mt-2 mx-2 mb-2 row justify-content-center">
            <button id="clrBusStuUp" type="button" class="btn btn-outline-secondary btn-sm col-4">Limpiar</button>
            <button id="btnBusStuUp" type="button" class="btn btn-outline-primary btn-sm col-4">Buscar</button>
        </div>
        <div id="datosStuUp" class="hide">
            <div class="mx-2 mb-2 row">
                <label for="txtClave" class="col-sm-4 col-form-label">Contraseña:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="txtClave" name="clave" maxlength="18">
                </div>
            </div>
        </div>
    </fieldset>
</form>

<script type="text/javascript">
    $("#btnBusStuUp").click(() =>{
        if($("#updateStudentForm").valid()){
            $("#datosStuUp").removeClass("hide")
        }
    })

    $("#clrBusStuUp").click(() =>{
        $("#updateStudentForm").trigger("reset")
        $("#datosStuUp").addClass("hide")
    })

    $("#updateStudentForm").validate({
        rules: {
            boleta: {
                required: true,
                pattern: /[A-Za-z0-9]/,
                minlength: 10,
                maxlength: 10
            },
            clave: {
                required: true,
                pattern: /[A-Za-z0-9]/,
                minlength: 8,
                maxlength: 18
            }
        },
        messages: {
            boleta: {
                required: "Introduce el No. de Boleta",
                pattern: "Introduce un No. de Boleta valido",
                minlength: "El No. de Boleta debe ser de 10 caracteres",
                maxlength: "El No. de Boleta debe ser de 10 caracteres"
            },
            clave: {
                required: "Introduce la Contraseña",
                pattern: "Introduce una Contraseña valido",
                minlength: "La Contraseña debe ser de mínimo 8 caracteres",
                maxlength: "La Contraseña debe ser de máximo 18 caracteres"
            }
        }
    })
</script>