<form id="insertGroupForm" action="" method="post" class="w-90 form3 needs-validation">
    <fieldset class="border p-2">
        <legend class="w-auto">Grupos</legend>
        <div class="mx-2 mb-2 row">
            <label for="hour" class="col-sm-4 col-form-label">Horario:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="examHour" name="hour">
            </div>
        </div>
    </fieldset>
</form>

<script type="text/javascript">
    $("#insertGroupForm").validate({
        rules: {
            grupo: {
                required: true,
                pattern: /[0-9]*/
            },
            hour: {
                required: true,
                pattern: /(?:[01]\d|2[0-3]):(?:[0-5]\d):(?:[0-5]\d)/
            }
        }, 
        messages: {
            grupo: {
                required: "Introduce un número de grupo",
                pattern: "Introduce un grupo válido"
            }, 
            hour: {
                required: "Introduce una hora de exámen",
                pattern: "Introduce una hora valida hh:mm:ss"
            }
        }
    })
</script>