<div class="row">
    <div class="row" id="cudButtons<?= $title ?>">
        <div class="col-md-4">
            <input id="btnAdd" type="button" class="btn btn-outline-success m-3" value="Agregar" data-bs-toggle="modal"
                data-bs-target="#insertModal<?= $title ?>" />
        </div>
        <div class="col-md-4">
            <input id="btnUpdate" type="button" class="btn btn-outline-warning m-3" value="Actualizar"
                data-bs-toggle="modal" data-bs-target="#updateModal<?= $title ?>" />
        </div>
        <div class="col-md-4">
            <input id="btnDelete" type="button" class="btn btn-outline-danger m-3" value="Eliminar"
                data-bs-toggle="modal" data-bs-target="#deleteModal<?= $title ?>" />
        </div>
    </div>
    <div class="row">
        <?php if ($data):?>
        <div class="table-responsive">
            <table class="table table-light table-hover table-bordered border-primary">
                <tr class="table-primary">
                    <?php foreach (array_keys($data[0]) as $header) echo "<th scope='col'>$header</th>"?>
                </tr>
                <?php foreach ($data as $row): ?>
                <tr>
                    <?php foreach ($row as $data) echo "<td scope='col'>$data</td>"?>
                </tr>
                <?php endforeach; ?>
            </table>
        </div>
        <?php endif;?>
    </div>
</div>

<!-- Insert Modal -->
<div class="modal fade" id="insertModal<?= $title ?>" tabindex="-1" aria-labelledby="insertModal<?= $title ?>"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="insertModal<?= $title ?>">Agregar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancelar"></button>
            </div>
            <div class="modal-body">
                <?=$insertModal?>
            </div>
            <div class="modal-footer">
                <button id="btnCancelInsert<?= $title ?>" type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Cancelar</button>
                <button id="btnInsert<?= $title ?>" type="submit" class="btn btn-success">Agregar</button>
            </div>
        </div>
    </div>
</div>

<!-- Update Modal -->
<div class="modal fade" id="updateModal<?= $title ?>" tabindex="-1" aria-labelledby="updateModal<?= $title ?>"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModal">Actualizar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancelar"></button>
            </div>
            <div class="modal-body">
                <?=$updateModal?>
            </div>
            <div class="modal-footer">
                <button id="btnCancelUpdate<?= $title ?>" type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Cancelar</button>
                <button id="btnUpdate<?= $title ?>" type="button" class="btn btn-warning">Actualizar</button>
            </div>
        </div>
    </div>
</div>

<!-- Insert Modal -->
<div class="modal fade" id="deleteModal<?= $title ?>" tabindex="-1" aria-labelledby="deleteModal<?= $title ?>"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModal">Eliminar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancelar"></button>
            </div>
            <div class="modal-body">
                <?=$deleteModal?>
            </div>
            <div class="modal-footer">
                <button id="btnCancelDelete<?= $title ?>" type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Cancelar</button>
                <button id="btnDelete<?= $title ?>" type="button" class="btn btn-danger">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        if('<?= $title ?>'==="User"){
            $("#cudButtons"+'<?= $title ?>').addClass("hide");
        }
        var content = {};
        $("#btnCancelInsert" + '<?= $title ?>').click(() => {
            $("#insert" + '<?= $title ?>' + "Form").trigger("reset")
        })

        $("#btnCancelUpdate" + '<?= $title ?>').click(() => {
            $("#update" + '<?= $title ?>' + "Form").trigger("reset")
        })

        $("#btnCancelDelete" + '<?= $title ?>').click(() => {
            $("#delete" + '<?= $title ?>' + "Form").trigger("reset")
        })

        $("#btnInsert" + '<?= $title ?>').click((e) => {
            console.log($("#insert" + '<?= $title ?>' + "Form").serializeJSON())
            $("#insert" + '<?= $title ?>' + "Form").submit((e) => {
                e.preventDefault();
                if ($("#insert" + '<?= $title ?>' + "Form").valid()) {
                    $.each($("#insert" + '<?= $title ?>' + "Form").serializeJSON(), function (key, value) {
                        content[key] = value;
                        $("label[name='" + key + "']").text(value);
                    });
                    $.ajax({
                        url: "../../../models/" + '<?= $title ?>' + ".php",
                        data: { data: user_data },
                        success: function (data) {
                            alert("Información guardada con exito")
                        },
                        error: function (data) {
                            alert("error")
                        }
                    })
                }
            })
        })

        $("#btnUpdate" + '<?= $title ?>').click((e) => {
            console.log($("#update" + '<?= $title ?>' + "Form").serializeJSON())
            if ($("#update" + '<?= $title ?>' + "Form").valid()) {
                $.each($("#update" + '<?= $title ?>' + "Form").serializeJSON(), function (key, value) {
                    content[key] = value;
                    $("label[name='" + key + "']").text(value);
                });
                $.ajax({
                    url: "../../../models/" + '<?= $title ?>' + ".php",
                    data: { update: content },
                    success: function (data) {
                        alert(data)
                    },
                    error: function (data) {
                        alert("error")
                    }
                })
            }
        })

        $("#btnDelete" + '<?= $title ?>').click((e) => {
            console.log($("#delete" + '<?= $title ?>' + "Form").serializeJSON())
            if($("#delete"+'<?= $title ?>'+"Form").valid()){
                $.each($("#delete"+'<?= $title ?>'+"Form").serializeJSON(), function (key, value) {
                    content[key] = value;
                    $("label[name='" + key + "']").text(value);
                });
                $.ajax({
                    url: "../../../models/"+'<?= $title ?>'+".php",
                    data: { delete: content },
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (data) {
                        alert("error")
                    }
                }) 
            }
        })
    });


</script>