<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Delete in production -->
        <meta http-equiv="Expires" content="0">
        <meta http-equiv="Last-Modified" content="0">
        <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
        <meta http-equiv="Pragma" content="no-cache">
        <!-- Delete in production -->

        <!-- Bootstrap Library-->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="/views/bootstrap/css/bootstrap.min.css" />
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- jQuery serializejson plugin-->
        <script src="/views/bootstrap/js/jquery.serializejson.js"></script>
        <!-- jQuery form validation plugin -->
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
        <!-- jQuery aditional methods form validation -->
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/additional-methods.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="/views/bootstrap/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="/views/css/index.css" />

        <title>SNI</title>
    </head>

    <body class="main">
        <?= $header ?>
        <?= $child ?>
    </body>

</html>