<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center vh-100">
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-8 col-md-8">
            <div class="card border my-5">
                <div class="card-header text-center p-3">
                    <h3 id="form-title"> ¡Bienvenido a la ESCOM!</h3>
                    <h3 id="form-subtitle"> Proporcionanos los siguientes datos para iniciar tu exámen y asignación de
                        grupo. </h3>
                </div>
                <div class="card-body">
                    <form id="studentForm" action="" method="post" class="w-90 form3">
                        <fieldset id="form1" class="border p-2">
                            <legend class="w-auto">Identidad</legend>
                            <div class="mx-2 mb-2 row">
                                <label for="txtBoleta" class="col-sm-2 col-form-label">No. Boleta:</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="txtBoleta" name="boleta" maxlength="10">
                                </div>
                                <label for="txtName" class="col-sm-2 col-form-label">Nombre(s):</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="txtName" name="name">
                                </div>
                            </div>

                            <div class="mx-2 mb-2 row">
                                <label for="txtApPat" class="col-sm-2 col-form-label">Apellido paterno:</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="txtApPat" name="ApPat" maxlength="10">
                                </div>
                                <label for="txtApMat" class="col-sm-2 col-form-label">Apellido materno:</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="txtApMat" name="ApMat">
                                </div>
                            </div>

                            <div class="mx-2 mb-2 row">
                                <label for="calBirth" class="col-sm-2 col-form-label">Fecha de nacimiento:</label>
                                <div class="col-sm-4">
                                    <input type="date" class="form-control" id="calBirth" name="name">
                                </div>
                                <label class="col-sm-2 col-form-label">Sexo:</label>
                                <div class="col-sm-4">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="chkSex" id="chkSexF"
                                            value="1" checked>
                                        <label class="form-check-label" for="chkSexF">Femenino</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="chkSex" id="chkSexM"
                                            value="2">
                                        <label class="form-check-label" for="chkSexM">Masculino</label>
                                    </div>
                                </div>
                            </div>

                            <div class="mx-2 mb-2 row">
                                <label for="txtCurp" class="col-sm-2 col-form-label">CURP:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="txtCurp" name="curp" maxlength="10">
                                </div>
                            </div>

                        </fieldset>
                        <fieldset id="form2" class="border p-2" style="display: none;">
                            <legend class="w-auto">Contacto</legend>

                            <div class="mx-2 mb-2 row">
                                <label class="col-form-label col-sm-2" for="street">Calle: </label>
                                <div class="col-md-4">
                                    <input name="street" type="text" class="form-control" />
                                </div>
                                <label class="col-form-label col-sm-2 " for="num-street">Número: </label>
                                <div class="col-md-4">
                                    <input name="num-street" type="text" class="form-control" />
                                </div>
                            </div>

                            <div class="mx-2 mb-2 row">
                                <label class="col-form-label col-sm-2" for="city">Colonia: </label>
                                <div class="col-md-10 col-12">
                                    <input name="city" type="text" class="form-control" />
                                </div>
                            </div>

                            <div class="mx-2 mb-2 row">
                                <label class="col-form-label col-sm-2" for="postal-code">Codigo postal: </label>
                                <div class="col-md-4">    
                                    <input name="postal-code" type="text" class="form-control" />
                                </div>

                                
                                <label class="form-label col-sm-2" for="phone-number">Telefono o celular: </label>
                                <div class="col-md-4">
                                    <input name="phone-number" type="text" class="form-control" />
                                </div>
                            </div>

                            <div class="mx-2 mb-2 row">
                                <label class="col-form-label col-sm-2" for="email">Correo electronico: </label>
                                <div class="col-md-10">
                                    <input name="email" type="email" class="form-control" />
                                </div>
                            </div>
                        </fieldset>
                        <fieldset id="form3" class="border p-2" style="display: none;">
                            <legend class="w-auto">Procedencia</legend>
                            <div class="mb-2 mx-2 row">
                                <label class="col-form-label col-sm-3" for="state">Entidad federativa de procedencia:</label>
                                <div class="col-md-9">
                                    <select name="state" class="form-control">
                                        <?php?>
                                        <!--Load states-->
                                        <option>--Seleccionar--</option>
                                    </select>
                                </div>
                            </div>

                            <div class="mx-2 mb-2 row">
                                <label class="col-form-label col-sm-4" for="cecyt-graduate">¿Eres egresado de un CECyT?</label>
                                <div class="col-md-7">
                                    <input type="checkbox" class="form-check-input" value="1" />
                                </div>
                            </div>
                            <div class="mx-2 mb-2 row">
                                <label class="col-form-label col-sm-3" for="school-proc">Escuela de procedencia:</label>
                                <div class="col-md-9">
                                    <select name="school-proc" class="form-control">
                                        <?php?>
                                        <!--Load schools-->
                                        <option>--Seleccionar--</option>
                                    </select>
                                </div>
                            </div>
                            

                            <div class="mx-2 mb-2 row">
                                <label class="col-form-label col-sm-3" for="school">Nombre de la escuela: </label>
                                <div class="col-md-9">
                                    <input name="school" type="text" class="form-control" />
                                </div>
                            </div>

                            <div class="mb-2 mx-2 row">
                                <label class="col-form-label col-sm-3" for="average">Promedio: </label>
                                <div class="col-md-2"> 
                                    <input name="average" type="text" class="form-control" />
                                </div>
                                <label class="col-form-label col-sm-3" for="option">Número de opción de ESCOM:</label>
                                <div class="col-md-4">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                            id="inlineRadio1" value="1" checked>
                                        <label class="form-check-label" for="inlineRadio1">Primera</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                            id="inlineRadio2" value="2">
                                        <label class="form-check-label" for="inlineRadio2">Segunda</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                            id="inlineRadio3" value="3">
                                        <label class="form-check-label" for="inlineRadio3">Tercera</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                            id="inlineRadio4" value="4">
                                        <label class="form-check-label" for="inlineRadio4">Cuarta</label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="card-footer text-center">
                            <div class="text-center">
                                <input type="reset" class="btn btn-outline-secondary m-3" value="Limpiar"
                                    name="clean" />
                                <nav id="form-pagination">
                                    <ul class="pagination justify-content-center">
                                        <li id="page-prev" class="page-item">
                                            <a class="page-link" href="" aria-label="Previous" id="previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="" id="identidad">Identidad</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="" id="contacto">Contacto</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href=""
                                                id="procedencia">Procedencia</a>
                                        </li>
                                        <li id="page-next" class="page-item">
                                            <a class="page-link" href="" aria-label="Next" id="next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                                <input type="submit" class="btn btn-outline-primary m-3" value="Enviar" name="clean" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2"></div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var page = 1
        $(".page-link").click((e) => {
            e.preventDefault()
            let display = $("#form" + page).css("display")
            $("#form" + page).css("display", "none")
            switch (e.currentTarget.id) {
                case "contacto":
                    page = 2
                    setHeaderText(page)
                    break;
                case "procedencia":
                    page = 3
                    setHeaderText(page)
                    break;
                case "next":
                    if (++page > 3) { page = 1 }
                    setHeaderText(page)
                    break;
                case "previous":
                    if (--page < 1) { page = 3 }
                    setHeaderText(page)
                    break;
                default:
                    page = 1
                    setHeaderText(page)
                    break;
            }
            $("#form" + page).css("display", display)
        });

        function setHeaderText(pag) {
            let titles = ["¡Bienvenido a la ESCOM!", "Solo unos datos más...", "¡Envialo!"]
            let subtitles = ["Proporcionanos los siguientes datos para iniciar tu exámen y asignación degrupo.", "", "Ya estás listo para enviarlo e iniciar con tus primeros pasos como parte de la comunidad"]
            $("#form-title").text(titles[pag - 1])
            $("#form-subtitle").text(subtitles[pag - 1])
        }

        $("#studentForm").validate({
            rules: {
                boleta: {
                    required: true,
                    pattern: /(P)+([P,E])+([0–9]{8})/,
                    minlength: 10,
                    maxlength: 10
                },
            },
            messages: {
                boleta: {
                    required: "Ingresa tu boleta por favor",
                    pattern: "Número de boleta invalido",
                    maxlength: "La boleta debe ser de 10 caracteres",
                    minlength: "La boleta debe ser de 10 caracteres",
                },
            },
            highlight: function (e) {
                $(e).addClass("is-invalid");
                $(e).removeClass("is-valid");
            },
            unhighlight: function (e) {
                $(e).addClass("is-valid");
                $(e).removeClass("is-invalid");
            }
        });

    });
</script>